<extend name="Public:common" />
<block name="content">
	<div class="am-cf am-padding">
		<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">友情链接</strong> / <small>新增</small></div>
	</div>
	<form class="am-form" action="{: U('add')}" method="POST">
		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">
				友情链接标题
			</div>
			<div class="am-u-sm-8 am-u-md-4">
				<input type="text" class="am-input-sm" name="linkname">
			</div>
			<div class="am-hide-sm-only am-u-md-6">*必填，不可重复</div>
		</div>

		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">
				超链接地址
			</div>
			<div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
				<input type="text" class="am-input-sm" name="url">
			</div>
			<!-- <div class="am-hide-sm-only am-u-md-6">*必填</div> -->
		</div>

		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">
				状态
			</div>
			<div class="am-u-sm-8 am-u-md-4">
				<select data-am-selected="{btnSize: 'sm'}" name="status">
					<option value="1" selected="selected">启用</option>
					<option value="0">禁用</option>
				</select>
			</div>
			<div class="am-hide-sm-only am-u-md-6">*必填</div>
		</div>



		<div class="am-g am-margin-top">
			<div class="am-u-sm-4 am-u-md-2 am-text-right">
				　
			</div>
			<div class="am-u-sm-8 am-u-md-4">
				<button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
			</div>
			<div class="am-hide-sm-only am-u-md-6"></div>
		</div>
		<div class="am-g am-margin-top">
			<p>　</p>
			<p>　</p>
			<p>　</p>
			<p>　</p>
			<p>　</p>
		</div>
	</form>
</block>