<extend name="Public:common" />
<block name="content">



    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>一些常用模块</small></div>
    </div>

    <ul class="am-avg-sm-1 am-avg-md-3 am-margin am-padding am-text-center admin-content-list ">
      <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-home"></span><br/>系统首页<br/>　</a></li>
      <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-users"></span><br/>代理商管理<br/>　</a></li>
      <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-cog"></span><br/>站点设置<br/>　</a></li>
    </ul>

    <ul class="am-avg-sm-1 am-avg-md-3 am-margin am-padding am-text-center admin-content-list ">
      <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-list"></span><br/>案例管理<br/>　</a></li>
      <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-users"></span><br/>友链管理<br/>　</a></li>
      <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>更多功能<br/>...</a></li>
    </ul>
</block>


