<extend name="Public:common" />
<block name="main">

<!-- banner -->
<div class="banner">
  <div class="banner-word">
    <h2>PC网站移动化 如此简单</h2>
    <h3> 网页跨屏适配云平台</h3>
  </div>
  <div class="homepage-banner-img">
    <img src="__PUBLIC__/Home/images/banner_img.png" alt=""/>
  </div>
  <div class="transform am-container">
    <form class="am-form">
      <div class="am-form-group">
        <input type="url" class="transform-input" placeholder="输入网址，例如：www.yunshipei.com" required /> 
        <input type="submit" class="transform-submit" value="开启云适配"/>
      </div>
    </form>
  </div>
</div>

<!-- 四个图标 -->
<div class="properties-mod module-wrap">
  <div class="am-container">
    <ul class="properties-list am-avg-sm-2 am-avg-md-4">
      <li >
        <img src="__PUBLIC__/Home/images/properties-img1.jpg" />
        <p>只需插入一行代码</p>
      </li>
      <li >
        <img src="__PUBLIC__/Home/images/properties-img2.jpg" />
        <p>网址不变</p>
      </li>
      <li>
        <img src="__PUBLIC__/Home/images/properties-img3.jpg" />
        <p>内容同步更新</p>
      </li>
      <li>
        <img src="__PUBLIC__/Home/images/properties-img4.jpg" />
        <p>云端加速</p>
      </li>      
    </ul>
  </div>
</div>

<!-- 适配总数据 -->
<div class="data-mod module-wrap">
  <div class="am-container">
    <p class="data-totle">20,000,000,000+</p>
    <p class="data-desc">每一秒，全球5000多种移动设备都由云适配提供着网页适配服务</p> 
    <ul class="data-view-list am-avg-md-5 am-avg-sm-3">
      <li>
        <div class="info-data-mod">
          <div class="info-data"><span>80%</span></div>
          <div class="info-more"><span>节省 <br/><strong>80%</strong> <br/>流量</span></div>
        </div>
      </li>
      <li>
        <div class="info-data-mod">
          <div class="info-data"><span>99.9%</span></div>
          <div class="info-more"><span><strong>99.9%</strong> <br/>同步率</span></div>
        </div>
      </li>
      <li>
        <div class="info-data-mod"><div class="info-data"><span>95%</span></div>
          <div class="info-more"><span>节约 <br/><strong>95%</strong> <br/>成本</span></div>
        </div>
      </li>
      <li>
        <div class="info-data-mod">
          <div class="info-data"><span>20亿</span></div>
          <div class="info-more"><div class="info-data-mod"><span>已适配 <br/><strong>20亿</strong> <br/>网页</span></div>
        </div>
      </li>
      <li>
        <div class="info-data-mod">
          <div class="info-data"><span>6种</span></div>
          <div class="info-more"><span>打通 <br/><strong>6大</strong> <br/>营销入口</span></div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- 介绍 -->
<div class="intro-mod module-wrap no-borderb">
  <div class="am-container">
    <div class="intro-title">
      <h1>云适配</h1>
      <span>激发强大生产力与创造力，始于前所未见的易用性</span>
    </div>
    <div class="intro-list am-g">
      <div class="am-u-md-6 am-u-sm-12 intro-img">
        <img src="__PUBLIC__/Home/images/intro-img1.png" />
      </div>
      <div class="am-u-md-6 am-u-sm-12am-u-md-6 am-u-sm-12am-u-md-6 am-u-sm-12 intro-text">
        <h3>一行代码，即刻创建移动跨屏网站</h3>
        <span>客户只需嵌入一行JS代码摒弃繁琐的传统建站模式，降低传统建站95%以上经济成本和相对应时间成本</span>
      </div>
    </div>
    <div class="intro-list am-g">
      <div class="am-u-md-6 am-u-sm-12 intro-img">
        <img src="__PUBLIC__/Home/images/intro-img2.png" />
      </div>
      <div class="am-u-md-6 am-u-sm-12am-u-md-6 am-u-sm-12 intro-text">
        <h3>所见即所用可视化工具</h3>
        <span>简单、易用、可视化，拖拖拽拽即可完成适配，提供从一键自动适配到代码级定制适配，手机、Pad同步预览的多层次、跨设备适配工具。</span>
      </div>
    </div>
    <div class="intro-list am-g">
      <div class="am-u-md-6 am-u-sm-12 intro-img">
        <img src="__PUBLIC__/Home/images/intro-img3.png" />
      </div>
      <div class="am-u-md-6 am-u-sm-12 intro-text">
        <h3>服务管理后台</h3>
        <span>可以实时的查看流量、营销统计数据，快速申请百度直达号，拥有原生APP，轻松对网站进行默认访问、图片加速设置</span>
      </div>
    </div>    
  </div>
</div>
</block>