<extend name="Public:common" />
<block name="content"></block>
<block name="script">
	
	<div class="am-cf am-padding">
		<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">代理商管理</strong> / <small>资料管理</small></div>
	</div>

	<div class="am-g">
		<div class="am-u-sm-12">
			<form class="am-form">
				<table class="am-table am-table-striped am-table-hover table-main">
					<thead>
						<tr>
							<th class="table-check">
								<input type="checkbox" />
							</th>
							<th class="table-id">ID</th>
							<th class="table-title">姓名</th>
							<th class="table-type">手机号码</th>
							<th class="table-type">QQ号码</th>
							<th class="table-type">电子邮件</th>
							<th class="table-type">城市</th>
							<th class="table-type">公司</th>
							<th class="table-type">公司网址</th>
							<th class="table-author am-hide-sm-only">公司简介</th>
							<th class="table-set">操作</th>

						</tr>
					</thead>
					<tbody>
					<volist name="agentMess" id="vo">
						<tr>
							<td>
								<input type="checkbox" />
							</td>
							<td>{: $vo['id'] }</td>
							<td>{: $vo['name'] }</td>
							<td>{: $vo['telephone'] }</td>
							<td>{: $vo['qq'] }</td>
							<td>{: $vo['email'] }</td>
							<td>{: $vo['city'] }</td>
							<td>{: $vo['company'] }</td>
							<td>{: $vo['url'] }</td>
							<td>{: $vo['introduct'] }</td>
							<td>
								<div class="am-btn-toolbar">
									<div class="am-btn-group am-btn-group-xs">
										<button class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="location.href='{: U('edit',array('id'=>$vo['id'])) }';return false;">
											<span class="am-icon-pencil-square-o"></span> 编辑
										</button>
										<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="location.href='{: U('del',array('id'=>$vo['id'])) }';return false;">
											<span class="am-icon-trash-o"></span> 删除
										</button>
									</div>
								</div>
							</td>
						</tr>
					</volist>
					</tbody>
				</table>

			</form>
		</div>
	</div>
</block>
