<extend name="Public:common" />
<block name="main">


<!-- banner -->
<div class="other-banner-mod am-vertical-align">
    <div class="am-vertical-align-middle">
      <h1>云适配</h1>
      <h2>诚邀合作伙伴，领跑移动互联网</h2>
    </div>
</div>

<!-- 帮助 -->
<div class="coo-help-mod module-wrap">
  <div class="am-container">
    <h2>成为云适配代理商，您还可以获得以下帮助</h2>
    <div class="am-u-md-3 am-u-sm-12 coo-help-item">
      <img src="__PUBLIC__/Home/images/coo-help-1.png"/>
      <h5>跨平台适配专家</h5>
      <p>一行代码帮助企业快速创建跨屏网站，适配包括各种智能手机、平板电脑及多种移动终端设备，令企业的PC网站与移动端网站域名不变，内容实时同步更新，企业无任何维护成本。</p>
    </div>
    <div class="am-u-md-3 am-u-sm-12 coo-help-item">
      <img src="__PUBLIC__/Home/images/coo-help-2.png"/>
      <h5>助力企业移动营销</h5>
      <p>云适配为您的客户量身打造不同访问设备的适配解决方案，助力企业快速打通微信、微博、APP、二维码、短信等移动营销入口，更有一键拨叫、社区分享、地图导航、CDN加速、数据分析等增值功能供您选择。</p>
    </div>
    <div class="am-u-md-3 am-u-sm-12 coo-help-item">
      <img src="__PUBLIC__/Home/images/coo-help-3.png"/>
      <h5>强有力的渠道代理政策</h5>
      <p>每个城市我们选择有限数量的渠道代理商长期合作，成为云适配代理商，享受丰厚的代理商折扣和返利以及不断增加的增值服务，并长期享受利润分成，让您和云适配共同成长。</p>
    </div>
    <div class="am-u-md-3 am-u-sm-12 coo-help-item">
      <img src="__PUBLIC__/Home/images/coo-help-4.png"/>
      <h5>成熟的代理商支持体系</h5>
      <p>协助代理商建立自己的技术和销售团队，并给予代理商销售、技术、设计各方面的指导和帮助，以及大客户案例的实时更新，代理商大客户的协助销售计划、会销支持，以及代理商区域客户的分单支持。</p>
    </div>
  </div>
</div>

<!-- 合作咨询 -->
<div class="coo-contact-mod module-wrap">
  <div class="am-container">
    <h2>代理合作咨询，让云适配的营销专家为您答疑</h2>
    <div class="am-u-md-12 am-u-sm-12 coo-contact-con ">
      <a href="http://wpa.qq.com/msgrd?v=3&uin=1071413550&site=qq&menu=yes">
        <i class="am-icon-qq"></i>
        <span>点击咨询</span>
      </a>
      <div class="contact-manager-mod">
        <p>王经理：（全国）</p>
        <ul class="contact-info">
          <li>座机：010-5363 2515</li>
          <li>TEL: 13011137639</li>
          <li>QQ: 1071413550</li>
          <li><span>微信: Candywangno1</span><i id='manager-qrcode' class='am-icon-qrcode'></i></li>
        </ul>
      </div>
    </div>
    <div class="am-u-sm-12 am-u-md-12">
      <p class="agency-email">Email:<a href="mailto:partners@yunshipei.com">partners@yunshipei.com</a></p>
    </div>
  </div>
</div>

<!-- 成为代理商 申请表格 -->
<div class="coo-join-mod module-wrap no-borderb">
  <div class="am-container">
    <h2>即刻成为我们的代理商，开启移动营销的大门</h2>
    <form class="am-form">
      <div class="am-form-group am-u-md-5">
        <label for="name">姓名*</label>
        <input type="text" name="name" id="name" class="am-form-field" placeholder="您的姓名" required/>
      </div>
      <div class="am-form-group am-u-md-7">
        <label for="tel">电话*</label>
        <input type="text" name="tel" id="tel" class="am-form-field" placeholder="您的电话" required/>
      </div>
      <div class="am-form-group am-u-md-5">
        <label for="qq">QQ*</label>
        <input type="text" name="qq" id="qq" class="am-form-field" placeholder="您的QQ" required/>
      </div>
      <div class="am-form-group am-u-md-7">
        <label for="email">邮箱地址</label>
        <input type="email" name="email" id="email" class="am-form-field" placeholder="您的电子邮箱地址" />
      </div>
      <div class="am-form-group am-u-md-12">
        <label for="url">城市*</label>
        <input type="text" name="city" id="city" class="am-form-field" placeholder="您的城市" required />
      </div>
      <div class="am-form-group am-u-md-12">
        <label for="host">公司网址*</label>
        <input type="url" name="host" id="host" class="am-form-field" placeholder="您的公司"/>
      </div>
      <div class="am-form-group am-u-md-12">
        <label for="desc">公司简介及主营业务</label>
        <textarea class="company-intro" name="desc" id="desc" rows="5" placeholder="简单介绍一下您公司背景"></textarea>
      </div>
      <div class="am-form- am-u-md-12 coo-join-submit">
        <button type="submit" class=" submit-btn submit-btn-style">即刻加入</button>
      </div>
    </form>
  </div>
</div>

<!-- 合作咨询 弹出二维码 -->
<div class="coo-weixin-mod">
    <div class="weixin-inner">
        <a class="weixin-close"><i class="am-icon-times-circle"></i></a>
        <div class="qrcode-weixin">
            <img src="__PUBLIC__/Home/images/manager-qrcode.jpg" alt="">
        </div>
        <div class="weixin-info">扫描二维码，咨询云适配代理合作</div>
    </div>
</div>

</block>