<extend name="Public:common" />
<block name="main">

<!-- banner -->
<div class="other-banner-mod am-vertical-align">
    <div class="am-vertical-align-middle">
      <h1>One Web,Any Device</h1>
      <h2>万物互联，无缝体验</h2>
    </div>
</div>

<!-- 链接icon -->
<div class="about-menu-mod">
  <div class="am-container">
    <ul class="about-menu am-avg-md-4 am-avg-sm-4">
      <li>
        <a href="about.html"><i class="menu-icon"></i><span>关于我们</span></a>
      </li>
      <li>
        <a href="reports.html"><i class="menu-icon"></i><span>媒体报道</span></a>
      </li>
      <li class="active">
        <a href="contacts.html"><i class="menu-icon"></i><span>联系方式</span></a>
      </li>
      <li>
        <a href="join.html"><i class="menu-icon"></i><span>加入我们</span></a>
      </li>
    </ul>
  </div>
</div>

<!-- 联系我们 -->
<div class="contact-mod module-wrap no-borderb">
  <div class="am-container">
    <div class="am-u-md-5 am-u-sm-12">
      <dl class="contact-list">
        <dt>公司基本信息</dt>
        <dd>美通云动（北京）科技有限公司</dd>
        <dd>北京市海淀区海淀大街27号亿景大厦三层西侧</dd>
        <dd>邮编：100080</dd>
        <dd>总机：010-53632501</dd>
        <dd>客服与支持：<a href="mailto:service@yunshipei.com">service@yunshipei.com</a></dd>
        <dd>投诉与建议：<a href="mailto:advice@yunshipei.com">advice@yunshipei.com</a></dd>
        <dd>人才招聘：<a href="mailto:jobs@yunshipei.com">jobs@yunshipei.com</a></dd>
        <dt class="hotline">服务热线</dt>
        <dd>产品售前咨询和购买专线：400 069 0309</dd>
        <dd>售后技术咨询及客服专线：400 069 0309</dd>
        <dd>代理商咨询和合作服务专线：010-5363 2515</dd>
      </dl>
    </div>
    <div class="am-u-md-7 am-u-sm-12 address-list-mod">
      <div class="line"></div>
      <dl class="contact-list">
        <dt>访问云适配</dt>
        <dl>
          <dt>中国北京（总部）</dt>
          <dd>北京市海淀区海淀大街27号亿景大厦三层西侧</dd>
          <dd>400 069 0309</dd>
          <dd><a href="mailto:cn@allmobilize.com">cn@allmobilize.com</a></dd>
          <dt>天津分公司</dt>
          <dd>天津市武清开发区创业总部基地C04栋5层</dd>
          <dd>022-5990 2233</dd>
          <dt>美国西雅图</dt>
          <dd>8201 164th Ave NE, Suite 200 Redmond, WA 98052</dd>
          <dd><a href="mailto:us@allmobilize.com">us@allmobilize.com</a></dd>
          <dt>香港特别行政区</dt>
          <dd>Cyberport Entrepreneurship Centre Unit 518, Level 5, Core F, Cyberport 3 100 Cyberport Road,Hong Kong</dd>
          <dd><a href="mailto:hk@allmobilize.com">hk@allmobilize.com</a></dd>
        </dl>
      </dl>
    </div>
  </div>
</div>
<!-- 百度地图 -->
<div style="width:100%;height:700px;" id="dituContent"></div>
</block>