<extend name="Public:common" />
<block name="main">

<!-- banner -->
<div class="other-banner-mod am-vertical-align">
    <div class="am-vertical-align-middle">
      <h1>One Web,Any Device</h1>
      <h2>万物互联，无缝体验</h2>
    </div>
</div>

<!-- 链接icon -->
<div class="about-menu-mod ">
  <div class="am-container">
    <ul class="about-menu am-avg-md-4 am-avg-sm-4">
      <li class="active">
        <a href="about.html"><i class="menu-icon"></i><span>关于我们</span></a>
      </li>
      <li>
        <a href="reports.html"><i class="menu-icon"></i><span>媒体报道</span></a>
      </li>
      <li>
        <a href="contacts.html"><i class="menu-icon"></i><span>联系方式</span></a>
      </li>
      <li>
        <a href="join.html"><i class="menu-icon"></i><span>加入我们</span></a>
      </li>
    </ul>
  </div>
</div>

<!-- 视频列表 -->
<div class="about-video-mod module-wrap">
  <div class="am-container">
    <h2>关于我们</h2>
    <div class="about-video-list">
      <div class="am-u-md-7 am-u-sm-12 about-video">
        <video src="__PUBLIC__/Home/video/video1.mp4" width="100%"  controls="controls" poster="__PUBLIC__/Home/images/about/video1.png" ></video>
      </div>
      <div class="am-u-md-5 am-u-sm-12 about-video-word">
        <p>云适配是由前微软美国总部IE浏览器核心研发团队成员及移动互联网行业专家陈本峰在美国西雅图创立。我们专注于为全球的企业提供领先的跨屏、跨终端网站移动化解决方案，帮助各类企业快速完成移动化战略。</p>   
        <p>对于企业用户，我们提供中国首个网页跨屏适配云平台——云适配IDE，基于国际专利及最前沿的HTML5技术，它能够帮助企业快速的实现网站移动化，解决不同屏幕上的网页适配问题，大幅度地节省跨屏网站的开发和维护成本。</p>   
        <p>对于开发者，我们提供一流的开发工具、平台和服务。云适配国内首个开源的HTML5跨屏前端框Amaze UI拥有丰富的本地化组件，能够帮助开发者高效的建立移动、跨屏网站。</p>
      </div>
    </div>
    <div class="about-video-list">
      <div class="am-u-md-7 am-u-sm-12 about-video">
        <video src="__PUBLIC__/Home/video/video2.mp4" width="100%"  controls="controls" poster="__PUBLIC__/Home/images/about/video2.png" ></video>
      </div>
      <div class="am-u-md-5 am-u-sm-12 about-video-word">
        <p>从2012年9月至今，我们的开发平台已经吸引了超过15万名的开发者加入；云适配技术也已经成功应用于超过60万家网站，包括微软、联想、海信等全球500企业，以及中国政府网等半数省级以上政府网站等。我们的使命是通过技术创新，打造极致的Web体验。</p>
        <p>我们的团队成员大多来自于微软、Google、百度、三星等知名互联网公司，具备多年的工作经验、优秀的技术实力和严谨的工作态度。我们将以强大的技术和优质的服务为您产品和企业的快速发展提供坚实保障。</p>
      </div>
    </div>
  </div>
</div>

<!-- 云适配荣誉 -->
<div class="about-honour-mod module-wrap no-borderb">
  <div class="am-container">
    <h2>云适配荣誉</h2>
    <ul class="am-avg-md-3 am-avg-sm-1 about-honour-list">
      <li><a href="javascript:;">红鲱鱼<span>2013年亚洲红鲱鱼创新百强</span></a></li>     
      <li><a href="javascript:;">CSDN<span>2013年中国“云创新企业TOP10”</span></a></li>
      <li><a href="javascript:;">36氪<span>2013年明日之星</span></a></li>
      <li><a href="javascript:;">易观之星<span>2013年移动互联最具投资价值奖</span></a></li>
      <li><a href="javascript:;">创业邦<span>2013年中国年度创新成长企业</span></a></li>
      <li><a href="javascript:;">香港ICT<span>2014最佳科技创新奖</span></a></li>
      <li><a href="javascript:;">品牌中国<span>2014年中国移动互联网创意体验奖</span></a></li>
      <li><a href="javascript:;">中国信息协会<span>2014年政府网站新技术应用优秀案例</span></a></li>
      <li><a href="javascript:;">新财富<span>最具潜力商业模式</span></a></li>
    </ul>
  </div>
</div>
</block>