<extend name="Public:common" />
<block name="main">
<!-- banner -->
<div class="other-banner-mod am-vertical-align">
    <div class="am-vertical-align-middle">
      <h1>One Web,Any Device</h1>
      <h2>万物互联，无缝体验</h2>
    </div>
</div>

<!-- 链接icon -->
<div class="about-menu-mod">
  <div class="am-container">
    <ul class="about-menu am-avg-md-4 am-avg-sm-4">
      <li>
        <a href="about.html"><i class="menu-icon"></i><span>关于我们</span></a>
      </li>
      <li class="active">
        <a href="reports.html"><i class="menu-icon"></i><span>媒体报道</span></a>
      </li>
      <li>
        <a href="contacts.html"><i class="menu-icon"></i><span>联系方式</span></a>
      </li>
      <li>
        <a href="join.html"><i class="menu-icon"></i><span>加入我们</span></a>
      </li>
    </ul>
  </div>
</div>

<!-- 媒体报道 -->
<div class="report-main-mod">
  <div class="am-container">
    <div class="report-main-item">
      <a href="http://economy.gmw.cn/2015-03/11/content_15070112.htm" class="report-title"  target="_blank">云适配高婧入选福布斯30under30：拼搏与未来</a>
      <p>许多伟大的公司都是由年轻人创造的。乔布斯创立苹果时年仅21岁;扎克伯格创立Facebook时20岁;在中国也有很多这样的例子：丁磊创办网易时年仅26岁;马化腾创办腾讯时27岁。2015年，中国将会有哪些年轻创业者崭露头角?近日，福布斯中文网评选出“2015年中国30位30岁以下创业者”获奖名单，云适配25岁联合创始人高婧，荣登榜单。</p>
      <a target="_blank" href="http://economy.gmw.cn/2015-03/11/content_15070112.htm" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:光明网</span>
      <span class="report-date">11 Mar</span>
    </div>

    <div class="report-main-item">
      <a href="http://finance.huanqiu.com/roll/2015-03/5839219.html?qq-pf-to=pcqq.c2c" class="report-title"  target="_blank">云适配央视受访：用一行代码从“万众创新”中突起</a>
      <p>创始人陈本峰在接受采访时表示，云适配通过一行代码的网站适配技术为用户提供极致的浏览体验，已经为超过10亿的网页实现了传统PC网站到各种移动终端的适配，并得到了微软，联想等众多世界500强企业的青睐，“未来，云适配不仅要做中国最好的公司，还要以成为全球最好公司为目标。”这是陈本峰的野心。</p>
      <a target="_blank" href="http://finance.huanqiu.com/roll/2015-03/5839219.html?qq-pf-to=pcqq.c2c" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:环球网</span>
      <span class="report-date">06 Mar</span>
    </div>

    <div class="report-main-item">
      <a href="http://elite.youth.cn/qlk/201501/t20150119_6418373.htm" class="report-title"  target="_blank">陈本峰　一行代码改变世界</a>
      <p>我们的精神就是永远创新。运用云适配技术,用一行代码,瞬间让人们无处不移动,改变人们的互联网生活,为社会创造价值,这就是我最最高兴的事。</p>
      <a target="_blank" href="http://elite.youth.cn/qlk/201501/t20150119_6418373.htm" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:中华儿女报刊社</span>
        <span class="report-date">19 Jan</span>
    </div>

    <div class="report-main-item">
      <a href="http://it.gmw.cn/2015-01/14/content_14519569.htm" class="report-title"  target="_blank">Amaze UI：BAT开源软件角逐战里的不速之客</a>
      <p>如果你是一个高级前端开发程序员，整天在Github上泡着，那你应该知道Amaze UI，一个还不错的开源HTML5跨屏前端框架。也许是因为HTML5终于在今年下半年定稿了，基于HTML5的开发再度升温，使得仅仅上线4个月的Amaze UI在Github上就获得了超过2000的星标注，跻身国产开源软件排行榜Top5，与BAT齐名。</p>
      <a target="_blank" href="http://it.gmw.cn/2015-01/14/content_14519569.htm" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:光明网</span>
      <span class="report-date">14 Jan</span>
    </div>

    <div class="report-main-item">
      <a href="http://tech2ipo.com/93915" class="report-title"  target="_blank">超级App+Web App将主宰未来的移动互联网？</a>
      <p>自 W3C 于 1999 年发布 HTML4 后，Web 世界快速发展，一片繁荣。人们一度认为 HTML 标准不需要升级了。一些致力于发展 Web App 的公司另行成立了 WHATWG 组织，直到 2007 年，W3C 从 WHATWG 接手相关工作，重新开始发展 HTML5。</p>
      <a target="_blank" href="http://tech2ipo.com/93915" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:创见</span>
      <span class="report-date">29 Dec</span>
    </div>

    <div class="report-main-item">
      <a href="http://tv.brtn.cn/20140904/VIDE1409835266979547.shtml" class="report-title"  target="_blank">《北京发布》（特别节目）：圆梦中关村（第四集）</a>
      <p>云适配由W3C中国区唯一HTML5布道官陈本峰创立，凭借一行代码，实现将个人电脑网页适配到各种手机及移动终端屏幕，并实现网站和移动终端内容实时同步，已获得国际专利。并因此成为中关村科技创新企业中的一员，致力共同打造国家科技创新中心。</p>
      <a target="_blank" href="http://tv.brtn.cn/20140904/VIDE1409835266979547.shtml" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:BTV财经</span>
      <span class="report-date">04 Sep</span>
    </div>

    <div class="report-main-item">
      <a href="http://content.businessvalue.com.cn/post/31692.html" class="report-title"  target="_blank">移动时代，你还需要域名吗？</a>
      <p>尽管看起来域名在移动时代变得越来越不重要，我们却更看到了罗永浩、小米高价购买域名。这是为什么？回答这个问题，必须要先看明白域名生意本身的前世今生。实际上，移动互联网在削减域名重要性的同时，也赋予了短域名和个性化域名更大想象空间。</p>
      <a target="_blank" href="http://content.businessvalue.com.cn/post/31692.html" class="report-more" rel="nofollow" >Read More</a>
      <span class="report-source">来源:《商业价值》</span>
      <span class="report-date">26 Aug</span>
    </div>
  </div>
</div>

</block>